<div class="row">	
	<div class="row col s3 m5">
		<div class = "row">	
			<h5>Drink Type</h5> 
			<li ng-repeat="type in types"> {{ type.name }} </li>	
		</div>

		<div class = "row">	
			<h5>Drink Size</h5> 
			<li ng-repeat="size in sizes"> {{ size.name }} </li>	
		</div>

		<div class = "row">	
			<h5>Product List</h5> 
			<li ng-repeat="product in products | unique:'name' | orderBy:'type_id'"> {{ product.name }} </li>	
		</div>
	</div>
	<div class="row col s9 m7">
		<form ng-controller="adminformController">								
			<div class="row">
				<div class="input-field col s9 m9">				
				  	<input placeholder="Drink Type" ng-model="newtype.type.name" type="text">         	
				</div>
				<br>
				<button ng-confirm-click="Do you want to proceed?" ng-click="addNewDrinkType(newtype)" class="btn waves-effect waves-light indigo darken-4">+    
				</button>				
			</div>

			<div class="row">
				<div class="input-field col s9 m9">				
				  	<input placeholder="Drink Size" ng-model="newsize.size.name" type="text">         	
				</div>
				<br>
				<button ng-confirm-click="Do you want to proceed?" ng-click="addNewDrinkSize(newsize)" class="btn waves-effect waves-light indigo darken-4">+    
				</button>				
			</div>

			<div class="row">
				<div class="input-field col s12 m12">				
				  	<input placeholder="Product Name" ng-model="newproduct.product.name" type="text">         	
				</div>
				
				<div class="input-field col s6 m6">				
				  	<select class="browser-default" ng-model="newproduct.product.type_id">
					    <option value="" disabled selected>Type</option>
					    <option ng-repeat="type in types | orderBy:'id'" ng-value="type.id">{{ type.name }}</option>				    
				  	</select>         	
				</div>

				<div class="input-field col s6 m6">				
				  	<select class="browser-default" ng-model="newproduct.product.size_id">
					    <option value="" disabled selected>Size</option>
					    <option ng-repeat="size in sizes | orderBy:'id'" ng-value="size.id">{{ size.name }}</option>				    
				  	</select>         	
				</div>

				<div class="input-field col s9 m9">				
				  	<input placeholder="Product Price (SGD)" ng-model="newproduct.product.price" type="text">
				</div>

				<div class="col s3 m3">
					<br>
					<button ng-confirm-click="Do you want to proceed?" ng-click="addNewProduct(newproduct)" class="btn waves-effect waves-light indigo darken-4">+    
					</button>	         	
				</div>

				
							
			</div>

		</form>				
	</div>
</div>
<hr>
<div class="row">
	<h3>Order History</h3>
	<h5> Total Revenue: {{ revenue | currency }} </h5>
	<div class="col s12">
		<table class="striped responsive-table">
			<thead>
				<tr>
				  <th>#Order</th>		  
				  <th>Total</th>
				  <th>Date</th>				  
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in orders | orderBy:'id'">
					<td>{{ order.id }}</td>
					<td>{{ order.total }}</td>
					<td>{{ order.created_at | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
					<td></td>
				</tr>
				
			</tbody>
		</table>
	</div>

	<div class="col s12">
		<table class="striped responsive-table">
			<thead>
				<tr>
				  <th>#Order</th>		  
				  <th>Drink</th>
				  <th>Drink Type</th>
				  <th>Drink Size</th>
				  <th>Quantity</th>
				  <th>Date</th>				  
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in orders_detail | orderBy:'id'">
					<td>{{ order.id }}</td>
					<td>{{ order.name }}</td>
					<td>{{ getType(order.type_id) }}</td>
					<td>{{ order.size_id }}</td>
					<td>{{ order.quantity }}</td>
					<td>{{ order.created_at | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
					<td></td>
				</tr>
				
			</tbody>
		</table>
	</div>

</div>