<h3>Menu</h3> 
<hr>
<div class = "row">	
	<div class="col s10">
		<table class="striped responsive-table">
			<thead>
				<tr>
				  <th data-field="blank"></th>		  
				  <th ng-repeat="size in sizes | orderBy:'id'">{{ size.name }}</th>		  
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in products | unique:'name' | orderBy:'type_id'">
					<td> {{ product.name }}</td>			
					<td ng-repeat="size in sizes | orderBy:'id'">
						<div ng-repeat="product2 in products | filter:product.name | orderBy:'size_id'">
							<div ng-if="product2.size_id==size.id">{{ product2.price }}</div>				
						</div>
					</td>			
				</tr>			
			</tbody>
		</table>
	</div>	
</div>
<h3>Order</h3> 

<div class="row">
	<form ng-controller="formController">						
		<div class="row" data-ng-repeat="(key,choice) in choices">	  
			<div class="input-field col s5 m3">				
			  	<select class="browser-default" ng-model="data.product">
				    <option value="" disabled selected>Choose your drink</option>
				    <option ng-repeat="product in products | unique:'name' | orderBy:'type_id'" ng-value="product.name">{{ product.name }}</option>				    
			  	</select>
			</div>
			<div class="input-field col s5 m3">				
			  	<select class="browser-default" ng-model="data.size">
				    <option value="" disabled selected>Type</option>
				    <option ng-repeat="size in sizes | orderBy:'id'" value="size.id">{{ size.name }}</option>				    
			  	</select>
			</div>
			<div class="input-field col s2 m1">							  	
		        <input disabled ng-value="product in products | filter:data.product | filter: data.size" id="order" type="text">		
			</div>
			<div class="input-field col s5 m2">				
			  	<input placeholder="Quantity" id="quantity" type="text" class="">          		
			</div>
			<div class="col s5 m2">
				<a ng-click="removeChoice(key)" class="btn-floating btn-large waves-effect waves-light indigo darken-4">x</a>
			</div>
		</div>
		<div class="row">
			<a ng-click="addNewChoice()" class="btn-floating btn-large waves-effect waves-light indigo darken-4"><i class="material-icons">add</i></a> Add new order   
		</div>
		
		<div id="choicesDisplay">
		  {{ choices }}
		</div>
	</form>
</div>

<script type="text/javascript">
	 $(document).ready(function() {
    $('select').material_select();
  });
          
</script>